/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/card.css");
@import url("components/button.css");


/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.banner {
  margin:0px auto;

}
.banner img {
  width: 120px;
  position: relative;
  left: 450px;
  top: 92px;
}

.banner_info {
  margin-left: 40px

}
.banner h1 {
  color:white;
  font-family: 'Open Sans', serif;
  font-style: lighter;
  position:relative;
  bottom: 46px;
  font-size: 45px;
}

.banner p {
  color:white;
  font-family: 'Open Sans', serif;
  font-weight: lighter;
  position:relative;
  bottom: 40px;
  font-size: 25px;
}

.footer {
  height:100px;
}

.footer h2 {
  color:white;
  font-family: 'Open Sans', serif;
  font-size: 15px;
  font-weight: lighter;
  padding-left: 10px
}

.footer li {
  display: inline-block;
  padding: 7px;
  color:white;
}

.footer ul {
  list-style-type: none;
  padding-inline-start: 10px;
}

.footer a {
  color:white;
}

.footer a:hover {
  color:#FBDB57;
}

.social-media {
  font-size: 20px;
}

